main > .container {
  padding: 60px 15px 0;
}


.question {
    border: 3px solid #6a6ac7;
    border-radius: 10px;
    margin: 20px;
    padding: 10px;
}



.avatar-question {  
    width: 110px;
    height: 130px;
}


.novbar-bmstu-img {
    width: 30px;
    margin-right: 10px;
}

.profile-avatar-novbar {
    width: 50px;
    padding: 0px;
    border: 2px solid #6a6ac7;
    border-radius: 10px;
    background-color: #6a6ac7;
}

.novbar-text {
    color: white;
    display: inline;
}


.autorize-section {
    width: 150px;
    margin-left: 20px;
}


.tags-list a {
    white-space: nowrap;
    font-size:25px;
}

.tags-area {

}