apparmor==3.0.4
appdirs==1.4.4
application-utility==1.3.2
asgiref==3.5.0
attrs==21.4.0
bootstrap4==0.1.0
btrfsutil==5.16.2
CacheControl==0.12.6
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
colorama==0.4.4
contextlib2==0.6.0.post1
cryptography==36.0.1
cupshelpers==1.0
distlib==0.3.4
distro==1.7.0
Django==4.0.3
django-extensions==3.1.5
dnspython==2.2.0
docopt==0.6.2
Faker==13.3.4
fastjsonschema==2.15.3
gpg==1.17.1
html5lib==1.1
idna==3.3
importlib-metadata==4.8.1
jsonschema==4.4.0
jupyter-core==4.9.2
keyutils==0.6
LibAppArmor==3.0.4
libcomps==0.1.18
libtorrent===2.0.5-build-libtorrent-rasterbar-src-libtorrent-rasterbar-2.0.5-bindings-python
lit==13.0.1.dev0
louis==3.21.0
manjaro-sdk==0.1
Markdown==3.3.6
more-itertools==8.10.0
msgpack==1.0.3
nbformat==5.3.0
netsnmp-python==1.0a1
npyscreen==4.10.5
ordered-set==4.0.2
packaging==20.9
pacman-mirrors==4.23.2
pep517==0.12.0
pigar==0.10.0
Pillow==9.0.1
ply==3.11
progress==1.6
psycopg==3.0.11
psycopg2-binary==2.9.3
pycairo==1.20.1
pycparser==2.21
pycups==2.0.1
pycurl==7.45.0
PyGObject==3.42.0
pyOpenSSL==21.0.0
pyparsing==3.0.1
PyQt5==5.15.6
PyQt5-sip==12.9.1
pyrsistent==0.18.1
PySide6==6.2.3
pysmbc==1.0.23
python-dateutil==2.8.2
PyYAML==6.0
rados==2.0.0
rbd==2.0.0
reportlab==3.6.6
requests==2.27.1
resolvelib==0.5.5
retrying==1.3.3
rgw==2.0.0
rpm==4.17.0
shiboken6==6.2.3
six==1.16.0
sqlparse==0.4.2
systemd-python==234
team==1.0
tk==0.1.0
toml==0.10.2
tomli==2.0.0
traitlets==5.1.1
udiskie==2.4.2
urllib3==1.26.8
webencodings==0.5.1
zipp==3.7.0
