asgiref==3.5.2
beautifulsoup4==4.11.1
bootstrap4==0.1.0
distlib==0.3.4
Django==4.0.5
django-bootstrap4==22.1
django-environment==0.3.8
Faker==13.12.0
filelock==3.7.1
pbr==5.9.0
Pillow==9.1.1
platformdirs==2.5.2
psycopg2==2.9.3
python-dateutil==2.8.2
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
stevedore==3.5.0
virtualenv==20.14.1
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
