<!doctype html>

{% extends "inc/base.html" %}

{% block content %}

<div class="col-10">
    <h2 class="mt-5">Ask</h2>
    <form>
        <div class="mb-3">
            <label for="input-question" class="form-label">Question title</label>
            <div class="alert alert-danger" role="alert">
                Title cannot be empty!
            </div>
            <input placeholder="Briefly description of the issue" type="text" maxlength="120" class="form-control" id="input-question">
        </div>
        <div class="mb-3">
            <label for="questionTextArea" class="form-label">Question</label>
            <textarea placeholder="Describe your question" class="form-control" id="questionTextArea"
                rows="3"></textarea>
        </div>
        <div class="mb-3">
            <label for="questionTags" class="form-label">Tags</label>
            <input placeholder="Math, Phisics ..." type="text" maxlength="256" class="form-control" id="questionTags">
        </div>
        <button type="submit" class="btn btn-primary">Ask</button>
    </form>
</div>

{% endblock %}