{% extends "inc/base.html" %}

{% block content %}

<div class="col-7 mt-5">
    <h3>Log In</h3>
    <div class="alert alert-danger" role="alert">
        Invalid password or login!    
    </div>
    <form>
        <div class="mb-3">
            <label for="InputLogin" class="form-label">Login</label>
            <input type="text" class="form-control" id="InputLogin" aria-describedby="loginHelp">
        </div>
        <div class="mb-3">
            <label for="InputPassword" class="form-label">Password</label>
            <input type="password" class="form-control" id="InputPassword1">
        </div>
        <div class="mb-3">  
            <label for="repInputPassword" class="form-label">Repeat password</label>
            <input type="password" class="form-control" id="repInputPassword">
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>


{% endblock %}

